<h1>Edit job</h1>

<form id="edit-job" name="job">
  <div class="field">
    <label for="jobuuid"> jobuuid:</label>
    <input type="text" name="jobuuid" id="jobuuid" value=<%= jobuuid %> >
  </div>

  <div class="field">
    <label for="jobtype"> jobtype:</label>
    <input type="text" name="jobtype" id="jobtype" value=<%= jobtype %> >
  </div>

  <div class="field">
    <label for="directory"> directory:</label>
    <input type="text" name="directory" id="directory" value=<%= directory %> >
  </div>

  <div class="field">
    <label for="sipuuid"> sipuuid:</label>
    <input type="text" name="sipuuid" id="sipuuid" value=<%= sipuuid %> >
  </div>

  <div class="field">
    <label for="currentstep"> currentstep:</label>
    <input type="text" name="currentstep" id="currentstep" value=<%= currentstep %> >
  </div>

  <div class="field">
    <label for="hidden"> hidden:</label>
    <input type="text" name="hidden" id="hidden" value=<%= hidden %> >
  </div>

  <div class="actions">
    <input type="submit" value="Update Job" />
  </div>

</form>

<a href="#/index">Back</a>