<p>
  <b>Jobuuid:</b>
  <%= jobuuid %>
</p>

<p>
  <b>Jobtype:</b>
  <%= jobtype %>
</p>

<p>
  <b>Directory:</b>
  <%= directory %>
</p>

<p>
  <b>Sipuuid:</b>
  <%= sipuuid %>
</p>

<p>
  <b>Currentstep:</b>
  <%= currentstep %>
</p>

<p>
  <b>Hidden:</b>
  <%= hidden %>
</p>


<a href="#/index">Back</a>